*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;  
    font-family: 'Inter', sans-serif;
    
}



.main-container{
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif ;
    background-color: #F7F8F8;
    position: static;
    top: 0;
}


#fixed{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    
}




.navbar{
    width: 90%;
    margin: 0 auto;
    
   
    
}

.main-nav ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    
    
    
}

.main-nav ul li{
    display: flex;
    padding: 10px 22px;
    font-family: Roboto, -apple-system, blinkmacsystemfont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", sans-serif;
    font-size: 14px;
    align-items: center;
    font-weight: 500;   
    line-height: 19.2px;
}

.main-nav ul li img{
    width: 2rem;
    height: 100%;
}

.main-nav ul li i{
    padding: 0 5px;
}
@media screen  and (max-width:1120px) {
    .main-container{
        text-align: center;
    }
    .search-area input, button{
        flex-direction: row;    
        
        background-size: 10px;

    }
    .main-nav ul{
            flex-direction: row;
            font-size: small;
    }
    
}

.search-nav{
    width: 100%;
    height: 100%;
}
.search-area{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px 13px;
    margin-left :60px;
}

.search-area .search-1 input{
    width: 17rem;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 0 20px;
}

.search-area input{
    margin: 0 10px;
    font-size: 18px;
    font-weight: 500;
}
.search-area .search-2 input{
    width: 30rem;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 0 20px;
}

.login-btn{
    
    border: none;
    text-decoration: underline;
    font-size: 15.96px;
    font-weight: 700;
    font-family:  Roboto, Helvetica, sans-serif;
    line-height: normal;
    color: rgb(0, 47, 52);
    padding: 13px;
     background-color: #F7F8F8;

    
}

.sell-btn{
    border: 5px solid;
    border-radius: 25px;
    border-right-color: #3A77FF;
    border-top-color: #23E5DB;
    border-left-color:#FFCE32 ;
    border-bottom-color: #3A77FF;
    font-family: 'Roboto', sans-serif;
    Font-size: 16px;
    Font-weight: 900;
    Line-height: normal;
    color: rgb(0, 47, 52);
    padding: 9px;
    width: 7rem;
    background-color: white;
}
.main-nav li:hover{
    color:#3A77FF;
    cursor: pointer;
}

.search-area input:hover{
    border-color: #23E5DB;
}

.categories{
    z-index: 0;
    position: relative;
    padding-top: 101px;
}

.categories ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    
}
.categories ul li{
    padding: 14px 10px 10px 15px;
    font-family: 'Roboto', sans-serif;
    Font-size: 14px;
    Font-weight: 400;
    Line-height: 21px;
}
.categories li:hover{
    color: #00A49F;
    cursor: pointer;
    
}

#down{
    padding-left: 5.5rem;
    font-weight: 600;
}
.main-img img{
    width: 100%;
    height: 100%;
}

.ad-img img{
    width: 100%;
    height: 100%;
    
}
.ad-img:hover{
    cursor: pointer;
}

h1{
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    padding-left: 20px;
    font-size: 1.7rem;
    
}

.AllCarts{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 3rem; */
}
.AllCarts:hover{
    cursor: pointer;
    
}


.CartSection{
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #c5cbcc;
    border-radius: 5px;
}


.ImgDiv{
    height: 100%;
    max-width: 100%;
    width: 300px;
    max-height: 170px;
    overflow: hidden;
}

.ImgDiv img{
    width: 100%;
    height: 100%;

}

.content{
    width: 100%;
    max-width: 340px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 10px 0 0;
}

.content .description{
    font-weight: 600;
    color: #002f34;
    width: 85%;
}

.price , .location{
    padding: 8px 10px;
}

.price p{
    font-size: 20px;
    color: #002F34;
    font-weight: 800;
}

.location{
    margin-bottom: 0.5rem;
}

.location p{
    color: #617B81;
    font-size: 14px;
    font-weight: 500;
}

.far{
    font-size: 1.5rem !important;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.btn button {
      
    border: 2px solid black;
    border-radius: 3px;
    background-color: white;     
    font-size: 16px;
    font-weight: 700;
    padding: 10px 9px;

}
.btn button:hover{
    cursor: pointer;
    border: 3px solid;
}

.footerAdd{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F8F9;
}
.img{
    padding:0 100px 0 0 ;
}

.border{
    border-right: 2px solid rgb(161, 161, 161);
    height: 130px;
    position: relative;
    right: 70px;
}
@media screen and (max-width:992px) {
    .border{
        position:sticky;
        
        
    }
    
}

.appdetails p{
    font-size: 16px;
    font-weight: bolder;
    color: #002F34;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.appdetails span{
   display: flex;
   width: 100%;
   height: 100%;
   max-width: 25rem;
  margin-top: 15px;
    
}

.end{
    display: flex;
    
    
    align-items: center;
    justify-content: space-evenly;
    
    background-color: #ebeeef;
    padding-top: 25px;
    padding-bottom: 40px;
    border-top: 1px solid rgba(0,47,52,.2);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.end span{
    font-size: 15px;
    font-weight: 700;
    color: #002F3A;
    font-weight: bolder;
    margin-left: 15px;
   
    
}


.end ul li{
    font-size: 12px;
    color: #002F34;
    padding: 3px;

    
    
    
    
}
.end ul{
    padding: 15px;
}

.end ul li:hover{
    cursor: pointer;
    font-weight: bold;
}
.footer-img{
    display: flex;
    max-width: 15rem;
    padding-top: 20px;
    
   
    
}   

.child{
    padding:20px;
    color: #002f34;

}

.follow{
    
    padding-right: 20px;

}

.footer-back{
    padding: 15px;
    background-color: #002f34;
    color: #fff;
    text-align: right;
    padding-right: 10%;
    Font-size: 12.04px;
    Font-weight: 700;
    Line-height: 18.06px;
    
}
    
